<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Navigation">
		<classes>
			<class name="Academy.E2EProject.NavigationBar" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="Homepage">
		<classes>

			<class name="Academy.E2EProject.Home" />

		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="Validatetion">
		<classes>
			<class name="Academy.E2EProject.ValidateTitle" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->